

h1, button, h2, div{
    border: 1px solid black;
}

h1, h2{
    width: 300px;
}

button{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: 10px 15px 20px;
}

div{
    height: 200px;
    /* width: 100px; */
    background-color: rgb(red, green, blue);
    overflow-y:scroll;
    border: 2px outset red;
    border-radius: 50%;
    width: 200px;
}